body{
    background-color: bisque;
}

h1{
    color:rgb(213, 77, 100);
    font-family: serif;
    text-align: center;
}
h2{
    color: rgb(27, 82, 27);
    text-align: left;
}
li{
    text-align: left;
}


p{
    color:rgb(27, 82, 27);
    font-family: serif;
}
.salsa{
  
  display:block;
  text-align: right;
}
.img{
    width: 250px;
    height:250px;
}
ul{
    
    text-align:left ;
    color:blueviolet;
    font-family: serif;
    
}
ol{
    color:blueviolet;
font-family: serif;
}
a{
    color: blue;
}
.child{
    position:absolute;
top:30%;
}
.serve{
    position:absolute;
    bottom:-20%;


}
.for{
    position:absolute;
    bottom:-30%;
}
.taste{
    position:absolute;
 bottom: -35%  ;
}